.billing {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.billing img {
    width: 100%;
    height: auto;
    filter: blur(0.5px);
    border-radius: 10px;
    position: relative;
}

.billing h1.billing-page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
}

.billing h1.payment-details {
    font-size: 2.2rem;
    color: #333;
    margin-top: 20px;
}

.billing button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.billing button:hover {
    background-color: #0056b3;
}

.billing p {
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .billing {
        padding: 15px;
    }

    .billing h1.billing-page-title {
        top:25%;
        font-size: 2.5rem;
    }

    .billing h1.payment-details {
        font-size: 1.75rem;
    }

    .billing button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .billing {
        padding: 10px;
    }

    .billing h1.billing-page-title {
        font-size: 2rem;
    }

    .billing h1.payment-details {
        font-size: 1.7rem;
    }

    .billing button {
        font-size: 1rem;
        padding: 6px 12px;
    }

    .billing p {
        font-size: 1rem;
    }
}
