/* Basic styling for responsiveness */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* padding: 20px; */
    overflow-x:auto;
  }
  
  .container {
    max-width: 600px;
    margin: 80px auto 10px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  input[type="button"]:hover {
    background-color: #45a049;
  }
  
  #successMessage {
    display: none;
    color: green;
    margin-top: 10px;
  }
  
  .successMessage {
    display: block;
    color: green;
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    .container {
      padding: 15px;
      margin: 60px auto 10px; /* Adjust top margin as needed */
    }
}

  